<!DOCTYPE html>
<html lang="en">
<form ng-controller="categoryCtrl">
    <div class="form-group">
        <label for="categoryName" class="col-form-label">Category Name</label>
        <input id = "categoryName" type="text" class="form-control" ng-model="name">
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Photo</span>
            </div>
            <div class="custom-file">
                <input type="file" class="form-control" accept="image/*" id="categoryPhoto">
                <!--<label class="custom-file-label" for="categoryPhoto">{{photo}}</label>-->
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="categoryDescription" class="col-form-label">Description</label>
        <input id = "categoryDescription" type="text" class="form-control" ng-model="description">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="submitData()">Submit</button>
    </div>
    <div id="successful-submission-alert" class="alert alert-success" role="alert">
        Category submission successful.
    </div>
    <div id="photo-upload-alert-success" class="alert alert-success" role="alert" data-auto-dismiss="2000">
        Photo uploaded successfully.
    </div>
</form>
</html>