<div ng-controller="orderCtrl">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="openOrder()" ng-repeat="order in orders">
            <th scope="row">{{order.date | date:'hh:mm'}}</th>
            <th scope="row">{{order.date | date:'dd MMM'}}</th>
            <th>{{order.buyerName}}</th>
            <th>{{order.address.address}}</th>
        </tr>
        </tbody>
    </table>
    <center ng-show="progressSpinnerVisibility">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:124px"></i>
    </center>
</div>