<!DOCTYPE html>
<html lang="en" ng-app="bluescooter-admin">
<div ng-controller="productCtrl">
    <form>
        <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input id="name" type="text" class="form-control" ng-model="product.name">
        </div>

        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Photo</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="form-control" accept="image/*" id="photo">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-form-label">Description</label>
            <input id="description" type="text" class="form-control" ng-model="product.description">
        </div>
        <div class="form-group">
            <label for="longDescription" class="col-form-label">Long Description</label>
            <input id="longDescription" type="text" class="form-control" ng-model="product.longDescription">
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{category}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" ng-repeat="categ in categories" ng-click="chooseCategory(categ)">{{categ.name}}</a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="mrp" class="col-form-label">MRP</label>
            <input id="mrp" type="number" class="form-control" ng-model="product.mrp">
        </div>

        <div class="form-group">
            <label for="discount" class="col-form-label">Discount</label>
            <input id="discount" type="number" class="form-control" ng-model="product.discount">
        </div>

        <div class="form-group">
            <label for="tags" class="col-form-label">Tags</label>
            <input id="tags" type="text" , data-role="tagsinput" ng-model="tags" ng-change="updateTags()">
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
        </div>
        <div id="successful-submission-alert" class="alert alert-success" role="alert">
            Product submission successful.
        </div>
        <div id="photo-upload-alert-success" class="alert alert-success" role="alert" data-auto-dismiss="2000">
            Photo uploaded successfully.
        </div>
    </form>
</div>